./git
.vs/
Debug/
nonDivisibleSubset/Debug/
nonDivisibleSubset/nonDivisibleSubset.vcxproj
nonDivisibleSubset/nonDivisibleSubset.vcxproj.filters
nonDivisibleSubset/nonDivisibleSubset.vcxproj.user
nonDivisibleSubset.sln
